In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules
import numpy as np

In [3]:
book = pd.read_csv("book.csv")

In [4]:
book

      ChildBks  YouthBks  CookBks  ...  ItalAtlas  ItalArt  Florence
0            0         1        0  ...          0        0         0
1            1         0        0  ...          0        0         0
2            0         0        0  ...          0        0         0
3            1         1        1  ...          0        0         0
4            0         0        1  ...          0        0         0
...        ...       ...      ...  ...        ...      ...       ...
1995         0         0        1  ...          0        1         1
1996         0         0        0  ...          0        0         0
1997         0         0        0  ...          0        0         0
1998         0         0        1  ...          0        0         0
1999         0         0        0  ...          0        0         0

[2000 rows x 11 columns]

In [5]:
book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ChildBks   2000 non-null   int64
 1   YouthBks   2000 non-null   int64
 2   CookBks    2000 non-null   int64
 3   DoItYBks   2000 non-null   int64
 4   RefBks     2000 non-null   int64
 5   ArtBks     2000 non-null   int64
 6   GeogBks    2000 non-null   int64
 7   ItalCook   2000 non-null   int64
 8   ItalAtlas  2000 non-null   int64
 9   ItalArt    2000 non-null   int64
 10  Florence   2000 non-null   int64
dtypes: int64(11)
memory usage: 172.0 KB

In [6]:
book.describe()

          ChildBks     YouthBks  ...      ItalArt     Florence
count  2000.000000  2000.000000  ...  2000.000000  2000.000000
mean      0.423000     0.247500  ...     0.048500     0.108500
std       0.494159     0.431668  ...     0.214874     0.311089
min       0.000000     0.000000  ...     0.000000     0.000000
25%       0.000000     0.000000  ...     0.000000     0.000000
50%       0.000000     0.000000  ...     0.000000     0.000000
75%       1.000000     0.000000  ...     0.000000     0.000000
max       1.000000     1.000000  ...     1.000000     1.000000

[8 rows x 11 columns]

In [8]:
frequent_itemsets = apriori(book, min_support=0.1, use_colnames=True)
frequent_itemsets

    support                       itemsets
0    0.4230                     (ChildBks)
1    0.2475                     (YouthBks)
2    0.4310                      (CookBks)
3    0.2820                     (DoItYBks)
4    0.2145                       (RefBks)
5    0.2410                       (ArtBks)
6    0.2760                      (GeogBks)
7    0.1135                     (ItalCook)
8    0.1085                     (Florence)
9    0.1650           (YouthBks, ChildBks)
10   0.2560            (CookBks, ChildBks)
11   0.1840           (DoItYBks, ChildBks)
12   0.1515             (RefBks, ChildBks)
13   0.1625             (ArtBks, ChildBks)
14   0.1950            (GeogBks, ChildBks)
15   0.1620            (CookBks, YouthBks)
16   0.1155           (DoItYBks, YouthBks)
17   0.1010             (ArtBks, YouthBks)
18   0.1205            (YouthBks, GeogBks)
19   0.1875            (CookBks, DoItYBks)
20   0.1525              (CookBks, RefBks)
21   0.1670              (ArtBks, CookBks)
22   0.1925             (CookBks, GeogBks)
23   0.1135            (ItalCook, CookBks)
24   0.1055             (DoItYBks, RefBks)
25   0.1235             (ArtBks, DoItYBks)
26   0.1325            (DoItYBks, GeogBks)
27   0.1105              (RefBks, GeogBks)
28   0.1275              (ArtBks, GeogBks)
29   0.1290  (CookBks, YouthBks, ChildBks)
30   0.1460  (CookBks, DoItYBks, ChildBks)
31   0.1225    (CookBks, RefBks, ChildBks)
32   0.1265    (ArtBks, CookBks, ChildBks)
33   0.1495   (CookBks, GeogBks, ChildBks)
34   0.1045  (DoItYBks, GeogBks, ChildBks)
35   0.1020    (ArtBks, GeogBks, ChildBks)
36   0.1015    (ArtBks, CookBks, DoItYBks)
37   0.1085   (CookBks, GeogBks, DoItYBks)
38   0.1035     (ArtBks, CookBks, GeogBks)

In [9]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.9)
rules

           antecedents         consequents  ...  leverage  conviction
0           (YouthBks)          (ChildBks)  ...  0.060308    1.731000
1           (ChildBks)          (YouthBks)  ...  0.060308    1.233750
2            (CookBks)          (ChildBks)  ...  0.073687    1.421069
3           (ChildBks)           (CookBks)  ...  0.073687    1.441240
4           (DoItYBks)          (ChildBks)  ...  0.064714    1.660347
..                 ...                 ...  ...       ...         ...
95   (ArtBks, GeogBks)           (CookBks)  ...  0.048547    3.022812
96  (CookBks, GeogBks)            (ArtBks)  ...  0.057107    1.641657
97            (ArtBks)  (CookBks, GeogBks)  ...  0.057107    1.415327
98           (CookBks)   (ArtBks, GeogBks)  ...  0.048547    1.148237
99           (GeogBks)   (ArtBks, CookBks)  ...  0.057408    1.332800

[100 rows x 9 columns]

In [10]:
rules.sort_values('lift',ascending = False)[0:20]

            antecedents          consequents  ...  leverage  conviction
29            (CookBks)           (ItalCook)  ...  0.064582    1.203406
28           (ItalCook)            (CookBks)  ...  0.064582         inf
77   (ArtBks, ChildBks)            (GeogBks)  ...  0.057150    1.944628
80            (GeogBks)   (ArtBks, ChildBks)  ...  0.057150    1.328448
85             (ArtBks)  (CookBks, DoItYBks)  ...  0.056313    1.403674
84  (CookBks, DoItYBks)             (ArtBks)  ...  0.056313    1.654797
99            (GeogBks)    (ArtBks, CookBks)  ...  0.057408    1.332800
94    (ArtBks, CookBks)            (GeogBks)  ...  0.057408    1.904063
97             (ArtBks)   (CookBks, GeogBks)  ...  0.057107    1.415327
96   (CookBks, GeogBks)             (ArtBks)  ...  0.057107    1.641657
53  (CookBks, ChildBks)             (RefBks)  ...  0.067588    1.506277
56             (RefBks)  (CookBks, ChildBks)  ...  0.067588    1.734652
78  (GeogBks, ChildBks)             (ArtBks)  ...  0.055005    1.591452
79             (ArtBks)  (GeogBks, ChildBks)  ...  0.055005    1.395719
87           (DoItYBks)    (ArtBks, CookBks)  ...  0.054406    1.301418
82    (ArtBks, CookBks)           (DoItYBks)  ...  0.054406    1.830626
65  (CookBks, ChildBks)            (GeogBks)  ...  0.078844    1.740319
68            (GeogBks)  (CookBks, ChildBks)  ...  0.078844    1.623273
89  (CookBks, DoItYBks)            (GeogBks)  ...  0.056750    1.718354
92            (GeogBks)  (CookBks, DoItYBks)  ...  0.056750    1.338806

[20 rows x 9 columns]

In [ ]:
#from above we get that if a man purchase ITALCOOK THEN HE WILL PURCHASE COOKBOOK TOO

In [14]:
frequent_itemsets2 = apriori(book, min_support=0.2, use_colnames=True)
frequent_itemsets2#CHANG MIN_SUPPORT TO 0.2

   support             itemsets
0   0.4230           (ChildBks)
1   0.2475           (YouthBks)
2   0.4310            (CookBks)
3   0.2820           (DoItYBks)
4   0.2145             (RefBks)
5   0.2410             (ArtBks)
6   0.2760            (GeogBks)
7   0.2560  (CookBks, ChildBks)

In [16]:
rules2 = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.8)
rules2

           antecedents consequents  ...  leverage  conviction
0           (ItalCook)   (CookBks)  ...  0.064582         inf
1    (CookBks, RefBks)  (ChildBks)  ...  0.057993    2.933083
2   (RefBks, ChildBks)   (CookBks)  ...  0.057204    2.972534
3   (ArtBks, DoItYBks)   (CookBks)  ...  0.048272    3.194159
4  (DoItYBks, GeogBks)   (CookBks)  ...  0.051392    3.141354
5    (ArtBks, GeogBks)   (CookBks)  ...  0.048547    3.022812

[6 rows x 9 columns]